*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.fullDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
}

.time{
    display: inline-block;
    font-size: 70px;
    font-weight: bolder;
    wid
}

#hrs::after{
    content: "HOURS";
    font-size: 20px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);

}

